body {
    margin: 0;
    padding: 0;
    background: #000;
}

.glowing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 260px;
}

.glowing span {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
}

.glowing span:nth-child(1) {
    top: 0;
}